 html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: inline-block;
    padding: 1em, 2em, .4em .75em .5em
}

img {
  max-width: 25em;
}

figure {
  max-width: 25em;
  text-align: left;
}

h1 {
  font-family: 'Lato', bold;
}

p {
  font-family: 'Lato', sans-serif;
    vertical-align: left:
}

p:last-child {
  border: solid #333;
  border-radius: 5px;
  text-align: center;
  margin: 1.5rem;
}

p:last-child:hover {
    background-color: #666;
}
