 html {
  box-sizing: border-box;
    background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}


img {
  max-width: 25em;
}

figure {
  max-width: 25em;
}

p:last-child {
  border: solid #666;
  border-radius: 5px;
  text-align: center;
  margin: 1.5rem;
  padding: 1em, 2em, .4em .75em .5em
}

p:last-child:hover {
    background-color: #666;
}
